@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-brown: #a18072;
  --secondary-brown: #43302b;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdf8f6;
  color: #2b1c18;
}
